{
	"extends": ["airbnb", "prettier", "prettier/react"],
	"plugins": ["prettier"],
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 2016,
		"sourceType": "module",
		"ecmaFeatures": {
			"modules": true,
			"jsx": true
		}
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"rules": {
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"react/no-array-index-key": "off",
		"no-underscore-dangle": [1, { "allow": ["_id"] }],
		"jsx-a11y/anchor-is-valid": [1, { "allow": ["Link"] }],
		"no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
		"no-restricted-syntax": "off",
		"no-bitwise": ["error", { "int32Hint": true }]
	}
}
